---
import { Button } from "../button/Button";
---

<Button
  className="px-10 py-6 md:px-12 font-bold text-xs sm:text-sm"
  onClick={() => {
    document
      .querySelector("#what-we-do")
      ?.scrollIntoView({ behavior: "smooth" });

    window.history.pushState({}, "", "#what-we-do");
  }}
>
  <slot />
</Button>
