---
import ClientBtn from "./ClientBtn.astro";

const { tHero } = Astro.props;
---

<section
  class="w-full flex mt-52 flex-col items-center space-y-5 md:space-y-10"
>
  <h2
    class="font-medium text-4xl min-[350px]:text-3xl sm:text-5xl md:text-6xl w-full md:max-w-[42rem] text-center text-pretty"
  >
    {tHero.title}
  </h2>
  <ClientBtn>{tHero.cta}</ClientBtn>
</section>
