---
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslatedPath } from "../../i18n/utils";
import { getLangFromUrl } from "../../i18n/utils";

const { href } = Astro.props;

const { currentLocale } = Astro;
const lang = getLangFromUrl(Astro.url);
// const translatePath = useTranslatedPath(lang);
const tranlatedPath = getRelativeLocaleUrl(currentLocale ?? "en", href);
---

<li>
  <a href={tranlatedPath} class="font-semibold">
    <slot />
  </a>
</li>
