---
import { cn } from "src/lib/utils";

export interface Props {
  class?: string;
}

const props = Astro.props;
---

<h3
  class={cn(["text-lg font-semibold leading-none tracking-tight", props.class])}
>
  <slot />
</h3>
