---
import { Check } from "lucide-astro";
---

<li class="py-2 border-b last:border-b-0">
  <Check class="inline size-4 text-secondary mr-1" aria-hidden />{" "}
  <span class="text-sm">
    <slot />
  </span>
</li>
