---
import DynamicIcon from "../../../components/icons/DynamicIcon.astro";
import { cn } from "../../../lib/utils";
import BounceCard from "./BounceCard.astro";
import CardTitle from "./CardTitle.astro";

const { description, icon, title, variant } = Astro.props;

let transition = "";
let cols = "";

if (variant === "blue") transition = "from-secondary to-indigo-400";
if (variant === "dark") transition = "from-primary to-slate-800";
if (variant === "orange") transition = "from-amber-400 to-orange-400";
if (variant === "pink") transition = "from-fuchsia-600 to-red-400";

if (variant === "blue") cols = "col-span-12 md:col-span-6 lg:col-span-7";
if (variant === "dark") cols = "col-span-12 md:col-span-6 lg:col-span-5";
if (variant === "orange") cols = "col-span-12 md:col-span-6 lg:col-span-5";
if (variant === "pink") cols = "col-span-12 md:col-span-6 lg:col-span-7";
---

<BounceCard className={cols}>
  <CardTitle class="!text-3xl text-center">
    <span class="flex items-center gap-2 justify-center">
      {title}
      <DynamicIcon icon={icon} className="size-5 inline" aria-hidden />
    </span>
  </CardTitle>
  <div
    class={cn(
      "absolute bottom-0 left-4 right-4 top-32 translate-y-8 rounded-t-2xl bg-gradient-to-br p-4 transition-transform duration-[250ms] group-hover:translate-y-4 group-hover:rotate-[2deg]",
      transition,
    )}
  >
    <span class="block text-center font-semibold text-indigo-50 text-sm">
      {description}
    </span>
  </div>
</BounceCard>
