---
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "src/lib/utils";

const pageHeadingVariants = cva(
  "md:h-screen md:max-h-[30vh] flex items-center flex-col justify-center text-white py-[40px] lg:px-60 bg-gradient-to-b",
  {
    variants: {
      variant: {
        blue: "from-secondary to-indigo-400",
        dark: "from-primary to-slate-800",
        orange: "from-amber-400 to-orange-400",
        pink: "from-fuchsia-600 to-red-400",
      },
    },
    defaultVariants: {
      variant: "blue",
    },
  },
);

interface Props extends VariantProps<typeof pageHeadingVariants> {
  title: string;
  description: string;
}

const { title, description, variant } = Astro.props;
---

<section class={cn(pageHeadingVariants({ variant }))}>
  <div class="container">
    <h1 class="text-xl md:text-4xl font-bold text-center">
      {title}
    </h1>
    <p
      class="text-sm md:text-[16px] text-center mt-4 max-w-[900px] mx-auto"
      set:html={description}
    />
  </div>
</section>
