---
import { Image } from "astro:assets";
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "src/lib/utils";

const ProcessCardVariants = cva(
  "max-w-2xl px-5 py-6 rounded-2xl shadow-md space-y-5",
  {
    variants: {
      variant: {
        blue: "bg-secondary/10",
        dark: "bg-primary/10",
        orange: "bg-amber-400/10",
        pink: "bg-fuchsia-600/10",
      },
    },
    defaultVariants: {
      variant: "blue",
    },
  },
);

type Props = VariantProps<typeof ProcessCardVariants> & {
  title: string;
  description: string;
  image?: ImageMetadata;
  class?: string;
  classes?: {
    image?: string;
    imageContainer?: string;
  };
};

const { title, description, image, variant, ...props } = Astro.props;
---

<li class={cn(ProcessCardVariants({ variant }), props.class)}>
  {
    image && (
      <div
        class={cn("grid place-content-center", props.classes?.imageContainer)}
      >
        <Image
          class={cn(
            "h-[150px] w-full object-contain rounded-lg",
            props.classes?.image,
          )}
          src={image}
          alt={title}
          width={400}
          height={400}
          loading={"lazy"}
        />
      </div>
    )
  }
  <div class="block space-y-2">
    <h3 class="text-lg font-semibold">
      {title}
    </h3>
    <p class="text-sm min-h-[60px] text-pretty">
      {description}
    </p>
  </div>
</li>
