---
import {
  Card,
  CardHeader,
  CardTitle,
  CardContent,
} from "../../../components/card/Card";

const { icon, title, description, image } = Astro.props;

// console.log(icon, title, description, image);
---

<Card className="h-full">
  <CardHeader>
    <div class="bg-[#F5F8FF] p-3 rounded-md max-w-fit mb-5">
      <slot name="icon" />
    </div>
    <CardTitle className="font-semibold">{title}</CardTitle>
  </CardHeader>
  <CardContent>
    <p class="text-[#5a5967] text-sm">{description}</p>
    {
      !!image && (
        <img
          width={300}
          height={200}
          src={image.src}
          alt={image.alt}
          loading="lazy"
          class="mt-10 rounded-md shadow-sm m-auto sm:mx-0"
        />
      )
    }
  </CardContent>
</Card>
