---
import Card from "../../../components/card/Card.astro";
import CardContent from "../../../components/card/CardContent.astro";
import CardHeader from "../../../components/card/CardHeader.astro";
import CardTitle from "../../services/components/CardTitle.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<Card className="h-full">
  <CardHeader>
    <div class="bg-[#FAF7F0] p-3 rounded-md max-w-fit mb-5">
      <slot name="icon" />
    </div>
    <CardTitle class="font-semibold">{title}</CardTitle>
  </CardHeader>
  <CardContent>
    <p class="text-[#0A0046] text-sm">{description}</p>
    <slot name="image" />
  </CardContent>
</Card>
